<!--Card Images-->
<mat-card class="mat-typography">
  <mat-card-title>
    <h1>{{ "WEBSITES_PAGE.CARDS.Image_Title" | translate }} </h1>
  </mat-card-title>
  <table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Uri">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{"WEBSITES_PAGE.CARDS.Table.Uri"| translate}} </th>
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/console', 'page', element.uri]"><strong> {{element.uri}}</strong></a> </td>
  </ng-container>

  <!-- Image Column -->
  <ng-container matColumnDef="Img">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "img"> {{"WEBSITES_PAGE.CARDS.Table.Image.Title"| translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.img}} </td>
  </ng-container>

  <ng-container matColumnDef="SVG">
    <th mat-header-cell *matHeaderCellDef mat-sort-header= "svg"> {{"WEBSITES_PAGE.CARDS.Table.Image.Title2"| translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.svg}} </td>
  </ng-container>

  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header= "total"> {{"WEBSITES_PAGE.CARDS.Table.Image.Title3"| translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.total}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 20, 50, 100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
</mat-card>