.table-filter mat-form-field,
.table-filter input {
  width: 90%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.evaluation-error:hover {
  color: red;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
