<!--Card Formularios-->
<mat-card class="mat-typography">
  <mat-card-title>
    <h1>{{ "WEBSITES_PAGE.CARDS.Form_Title" | translate }} </h1>
  </mat-card-title>
  <table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="Uri">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "uri">{{"WEBSITES_PAGE.CARDS.Table.Uri"| translate}} </th>
    <td mat-cell *matCellDef="let element"><a [routerLink]="['/console', 'page', element.uri]"><strong> {{element.uri}}</strong></a> </td>
  </ng-container>

  <!-- Form Column -->
  <ng-container matColumnDef="Form">
    <th mat-header-cell *matHeaderCellDef mat-sort-header = "form"> {{"WEBSITES_PAGE.CARDS.Table.Form.Title"| translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.form}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>
